body{
    background-color: rgb(246, 172, 119);
}
.body_div{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.main_div{
    display: flex;
    flex-direction: column;
    background-color:aqua;
    margin-left: 33%;
    margin-top: 9%;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    overflow-y: scroll;
}

.heading1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 40px;
}

.sub_main_div{
        display: flex;
        justify-content: center;
        margin-top: 30px;
}
.entry{
    margin-top: 35px;
    margin-left: 10px;
}

.button{
    width: 50px;
    height: 30px;
    margin-top: 35px;
    border: none;
    margin-left: 10px;
    border-radius: 10px;
    background-color:  rgb(246, 172, 119);
    cursor: pointer;
}
.button:active{
    background-color:  rgb(237, 217, 203);
}

.your_tasks{
    display: flex;
    flex-direction: column;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    margin-left: 78px;
    margin-top: 30px;
}

.task{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    margin-left: 83px;
    border: none;
    border-radius: 10px;
    width: 70%;
    height: auto;
}

.d_btn{
    display: flex;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color:  rgb(246, 172, 119);
    width: auto;
    margin-left: 390px;
    margin-top: -30px;
}

.d_btn:active{
    background-color:  rgb(237, 217, 203);
}